<div>
  {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
              <p>  {{description}} </p>
            </div>
            <div class="meta">
            <p>   -{{user.username}}, {{format_date date}} {{format_time date}} </p>
            </div>
        </section>
    </div>
  {{/each}}
</div>