{{#if posts.length}}
<section>
  <h2 class="text-left"><img src="/images/dashboard.png" height="100px"></h2>
  {{!-- add image --}}
    {{#each posts as |post|}}
    {{!-- partials view --}}
      {{> dash-detail post}}
    {{/each}}
</section>
{{/if}}

<button type="submit" class="btn"><a class="link text-light" href="/dashboard/new">new post</a></button>