{{> home-detail post}}

{{#if logged_in}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
        <label class="form-label">comment</label>
        <input id="comment" name="description" class="form-input" />
        <button type="submit" class="btn">submit</button>
    </form>
</div>
{{/if}}

{{> comment post.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}